/*footer settings*/
body {
    min-height: 100vh;
    background-color: #e8cbc0;
    background-image: linear-gradient(147deg, #e8cbc0 0%, #636fa4 100%);
}
@media all and (min-height: 620px) {
    footer {
        position:fixed;
        bottom:15px;
        left:0;
        right:0;

    }
}
/*href settings*/
a {
    color: #3f00ff;
}

 .container {
    padding-left: 8px;
}